/* Tables
/* ---------------------------------------------------------- */

table {
    border-collapse: separate;
    margin: 0 0 $margin 0;
    width: 100%;
    font-size: 0.8em;
}

th {
    color: $color-body-font;
    font-size: 0.9em;
    font-weight: $font-bold;
    padding: 0 0.7em 0.4em 0.7em;
    text-align: left;
    @include light-mode {
      color: $color-body-font-light;
    }
}

td {
    padding: 0.4em 0.7em;
    border-left-width: 0;
    border-top-width: 0;
}

td:first-child {
    border-left-width: 1px;
}

tbody tr {
    border: solid 1px $color-border;
    border-left: 0;
    border-right: 0;
    @include light-mode {
      border: solid 1px $color-border-light;
    }
}

tbody tr:first-child td {
    border-top-width: 1px;
}

tbody tr:nth-child(2n + 1) {
    // background-color: $color-bg;
}

tbody td {
    border: solid 1px $color-border;
    border-left-width: 0;
    border-top-width: 0;
    @include light-mode {
      border: solid 1px $color-border-light;
    }
}

tfoot {
    border-width: 0;
}
