/* Variables
/* ---------------------------------------------------------- */

:root {
    color-scheme: dark light;
}

/* Fonts */
$font-sans-serif: BlinkMacSystemFont, -apple-system, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
$font-serif: 'New York', serif;
$font-mono: monospace;
$font-light: 100;
$font-normal: 400;
$font-bold: 700;
$font-heavy: 800;

/* Breakpoints */
$xlarge: 1680px;
$large: 1280px;
$medium: 980px;
$small: 740px;
$xsmall: 480px;

/* Sizes */
$height: 4rem;
$margin: 2rem;
$radius: 0.5rem;

/* Colours */
$color-body-font: #f5f5f7;
$color-primary: #6BB8FF;
$color-base: #131313;
$color-sub-base: #aaa;
$color-border: #f5f5f7;
$color-bg: #242424;
$color-bg-dark: #131313;
$link-color: #6BB8FF;
$color-bg-bright: #1d1d1f;

$color-primary-light: #00529E;
$color-base-light: #fff;
$color-base-light-inverted: #131313;
$color-sub-base-light: #454545;
$color-border-light: #ababab;
$color-bg-light: #f8f8f8;

$color-bg-bright-light: #EDEDED;
$color-bg-dark-light: #131313;
$color-body-font-light: #131313;
$color-body-font-light-2: #000000;
$link-color-light: #0074c1;